---
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

type Props = {
  event: CollectionEntry<'event'>;
};

const { event } = Astro.props;
---

<article>
  {event.data.poster && (
    <Image
    src={event.data.poster}
    format="avif"
    quality="mid"
    width={800}
    height={450 / 1.5}
    alt={`${event.data.title} thumbnail`}
    class="rounded-lg shadow-lg"
    />
  )}
  <h2 class="text-2xl font-bold">
    <a href={`/event/${event.slug}`} class="text-zinc-900">{event.data.title}</a>
  </h2>
  <p class="text-sm text-gray-600">{event.data.time} on {event.data.date}</p>
  <p class="text-sm text-gray-600">{event.data.description}</p>
  <div>
    {event.data.entertainment?.map(entertainmentI => (
      <span class="inline-block bg-gray-200 rounded-sm px-3 py-1 text-xs text-gray-700 mr-2 mb-2">
        {entertainmentI}
      </span>
    ))}

  </div>
</article>
