---
import Layout from "@/layouts/Layout.astro";
import Main from "@components/html-structure/Main.astro";
import Hero from "@components/hero-primary.astro";
import { Image } from "astro:assets";
import Movie1 from '@assets/Hentriks-Gregory.jpg';
import { TicketIcon, ComputerDesktopIcon, VideoCameraIcon, SparklesIcon } from '@heroicons/vue/24/outline'


import { getCollection } from "astro:content";
const events = await getCollection("event");

const movies = await getCollection("movie");
---


<Layout title="Daysland and District Cultural Arts Society | Theatre">
  <Hero></Hero>


    <!-- now playing movies -->
    <div class="py-24 md:py-32 lg:py-40">
      <div class="mx-auto max-w-7xl px-6 lg:px-8 xl:grid-cols-3">
        <div class="mx-auto max-w-2xl lg:mx-0 mb-6">
          <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
            <a href="now-playing" class="underline hover:no-underline">Upcoming movies</a></h2>
          <p class="mt-6 text-lg leading-8 text-gray-600">Experience the magic of cinema like never before at our movie theatre. Immerse yourself in stunning visuals and captivating soundscapes that transport you right into the heart of the story. Join us for an unforgettable movie-going adventure where every showing is an event in itself!</p>
        </div>
        <ul class="mx-auto grid max-w-2xl grid-cols-1 gap-x-6 gap-y-20 sm:grid-cols-2 md:grid-cols-3 lg:mx-0 lg:max-w-none lg:gap-x-8 xl:col-span-2">
          {movies.map((movie) => (
            <a href={`now-playing#${movie.data.title.replace(/\s+/g, '-')}`}>
              <li class="bg-white transform transition duration-500 hover:scale-105">
                {movie.data.poster && (
                  <Image
                    src={movie.data.poster}
                    alt={movie.data.title}
                    class="aspect-[2/3] w-full rounded-xl object-cover z-0 bg-purple-100 shadow-purple-400/30 shadow-xl"
                  />

                )}

                {movie.data.reelAlternative && (
                  <div class="z-1 -mt-12 absolute ml-4">
                    <span class="rounded-md bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm">Reel Alternative Film</span>
                  </div>
                )}

                <h3 class="mt-6 text-lg font-semibold leading-8 text-gray-900">{ movie.data.title }</h3>
                <p class="inline text-sm px-1.5 ring-1 ring-slate-200 rounded font-medium leading-6 py-1">{ movie.data.rating }</p>
                <p class="mt-4 text-base leading-7 text-gray-600 line-clamp-3">{ movie.data.description }</p>
              </li>
            </a>
          ))}
        </ul>
      </div>
    </div>
  <Main>





    <!-- upcoming events -->
    <div class="py-24 sm:py-32">
      <div class="mx-auto max-w-7xl px-6 lg:px-8">


        <h2 class="text-base font-semibold leading-7 text-purple-600 flex gap-2 items-center">
          <TicketIcon class="h-5 w-5" aria-hidden="true" />
          Upcoming events
        </h2>
        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
          <a href="event" class="underline hover:no-underline">Concert Series 2024</a></p>
        <p class="mt-6 text-lg leading-8 text-gray-600">Get ready for an electrifying lineup of live performances and unforgettable experiences in our Concert Series 2024!</p>
        <div class="mt-10 space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">

          <div class="flex flex-col md:grid grid-cols-7 gap-4">
            {events.map((event, index) => {
              const isColSpan2 = index % 7 === 2 || index % 7 === 3 || index % 7 === 6;
              const isRowSpan2 = index % 7 === 1 || index % 7 === 2 || index % 7 === 3;
              const colSpan = isColSpan2 ? 'col-span-2' : index % 7 === 0 ? 'col-span-4' : 'col-span-3';
              const rowSpan = isRowSpan2 ? 'row-span-2' : '';
              const flexClass = isColSpan2 && isRowSpan2 ? 'flex-row md:flex-col' : 'flex-col';

              return (
                <article class={`bg-white rounded-lg shadow-purple-400/30 shadow-xl overflow-hidden transform transition duration-500 hover:scale-105 ${colSpan} ${rowSpan}`}>
                  <a href={`/event/${event.slug}`} class="flex h-full w-full">
                    <div class={`flex md:${flexClass}`}>
                      {event.data.poster && (
                        <div class="flex-none w-32 md:w-auto">
                          <Image
                            src={event.data.poster}
                            width="850"
                            height="504"
                            alt="Event Poster"
                            class="object-cover h-full w-full max-h-52 md:max-h-none bg-purple-100"
                          />
                        </div>
                      )}
                      <div class="p-4 flex-auto md:flex-none">
                        <h3 class="text-xl font-semibold text-gray-900">{event.data.title}</h3>
                        <p class="mt-2 text-gray-500 line-clamp-3">{event.data.description}</p>
                      </div>
                    </div>
                  </a>
                </article>
              );
            })}
          </div>


        </div>
      </div>
    </div>





  </Main>

  <!-- become a member CTA -->
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8 border-t-2 border-slate-100">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">The Gift of Unforgettable Experiences!</h2>
      <p class="mx-auto mt-6 max-w-xl text-lg leading-8 text-gray-600">Surprise your loved ones with DaysArts Gift Certificates - perfect for movies, events, and all the spectacular offerings at DaysArts.</p>
      <div class="mt-10 flex items-center justify-center gap-x-6">
        <a href="tel:7803742403" itemprop="telephone" class="rounded-md bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">Call to Purchase</a>
      </div>
    </div>
  </div>


</Layout>
