---
const people = Astro.glob('../people/*.md');
---

<h2>People</h2>
<ul>
  {people.map(person => (
    <li key={person.url}>
      <img src={person.frontmatter.imageUrl} alt={person.frontmatter.name} />
      <h3>{person.frontmatter.name}</h3>
      <p>{person.frontmatter.role}</p>
      <ul>
        <li>
          <a href={person.frontmatter.twitterUrl}>
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href={person.frontmatter.linkedinUrl}>
            <span>LinkedIn</span>
          </a>
        </li>
      </ul>
    </li>
  ))}
</ul>
