---
import Layout from "@/layouts/Layout.astro";
import HeroSecondary from "@/components/hero-secondary.astro";
import { TrophyIcon, VideoCameraIcon, SparklesIcon, CakeIcon } from '@heroicons/vue/24/outline';
import { Image } from "astro:assets";
import equipmentImg from "@/assets/equipment-list.jpg";
import stageImg from "@/assets/stage-dimensions.jpg";
import theatreIntImg from "@/assets/palace-theatre-daysland-alberta.jpg";
import Wedding1 from '@assets/wedding-01.jpg';
import Wedding2 from '@assets/wedding-02.jpg';
import Wedding3 from '@assets/wedding-03.jpg';
---

<Layout title="Rent the Daysland Palace theatre" description="Explore rental opportunities at Daysland Palace Theatre. Host your next event, meeting, or gathering in our versatile venue located in Daysland, Alberta.">
  <!-- HeroSecondary text structure
    title case
    sentence case
    sentence case
  -->
  <HeroSecondary
    tagline="Rent Your Stage at Daysland Palace Theatre"
    title="Your dream event at a Nostalgic Theatre"
    content="Creating unforgettable memories at a historic venue">
    <CakeIcon slot="icon" class="h-10" />
  </HeroSecondary>


  <!-- background -->
  <div class="relative overflow-x-clip mt-10">
    <div class="absolute -top-80 left-[max(6rem,33%)] -z-10 transform-gpu blur-3xl sm:left-1/2 md:top-20 lg:ml-20 xl:top-3 xl:ml-56" aria-hidden="true">
      <div class="aspect-[801/1036] w-[50.0625rem] bg-gradient-to-tr from-pink-200 to-purple-700 opacity-30" style="clip-path: polygon(63.1% 29.6%, 100% 17.2%, 76.7% 3.1%, 48.4% 0.1%, 44.6% 4.8%, 54.5% 25.4%, 59.8% 49.1%, 55.3% 57.9%, 44.5% 57.3%, 27.8% 48%, 35.1% 81.6%, 0% 97.8%, 39.3% 100%, 35.3% 81.5%, 97.2% 52.8%, 63.1% 29.6%)"></div>
    </div>
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl lg:mx-0">
        <h2 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Creating Unforgettable Memories at a Historic Venue</h2>
        <p class="mt-6 text-xl leading-8 text-gray-700">Welcome to The Daysland Palace Theatre, a venue where your special events turn into enchanting experiences.</p>
      </div>
      <div class="mx-auto mt-16 grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 lg:mx-0 lg:mt-10 lg:max-w-none lg:grid-cols-12">
        <div class="relative lg:order-last lg:col-span-5">
          <figure class="border-l border-purple-600 pl-8">
            <blockquote class="text-xl font-semibold leading-8 tracking-tight text-gray-900">
              <p>“Experience the magic of DaysArts and make your next event truly unforgettable by hosting it at the iconic Daysland Palace Theatre, where every occasion becomes a masterpiece of memories.”</p>
            </blockquote>
            <figcaption class="mt-8 flex gap-x-4">
              <div class="text-sm leading-6">
                <div class="font-semibold text-gray-900">Sharon and the DaysArts Team</div>
                <div class="text-gray-600"><a href="mailto:info@daysarts.ca" class="underline hover:no-underline" aria-label="Email us at info@daysarts.ca">info@daysarts.ca</a></div>
              </div>
            </figcaption>
          </figure>
        </div>









        <div class="max-w-xl text-base leading-7 text-gray-700 lg:col-span-7">
          <p>Our historic theatre, with its marquee and classic Hollywood charm, offers a unique and glamorous setting for a variety of occasions. From dream weddings to dynamic community events, The Palace Theatre is more than just a location; it's a gateway to creating lasting memories.</p>
          <ul role="list" class="mt-8 max-w-xl space-y-8 text-gray-600">

            <li class="flex gap-x-3">
              <CakeIcon class="mt-1 h-5 w-5 flex-none text-purple-600" aria-hidden="true" />
              <span><strong class="font-semibold text-gray-900">Movie Magic Birthday Parties:</strong> We have special Birthday Party Packages available whether you join us at a regularly scheduled movie or have a private screening for you and your guests. Immerse yourselves in cinematic wonder, with popcorn and refreshments to complete the experience.</span>
            </li>
            <li class="flex gap-x-3">
              <TrophyIcon class="mt-1 h-5 w-5 flex-none text-purple-600" aria-hidden="true" />
              <span><strong class="font-semibold text-gray-900">Epic Gaming Nights:</strong> Turn our theatre into the ultimate gaming arena, where you can play your favorite video games on the big screen, complete with immersive sound.</span>
            </li>
            <li class="flex gap-x-3">
              <VideoCameraIcon class="mt-1 h-5 w-5 flex-none text-purple-600" aria-hidden="true" />
              <span><strong class="font-semibold text-gray-900">Classic Movie Marathons:</strong> Host a movie marathon night, selecting films from a specific genre, era, or director, ideal for cinephiles or a unique gathering with friends.</span>
            </li>
            <li class="flex gap-x-3">
              <SparklesIcon class="mt-1 h-5 w-5 flex-none text-purple-600" aria-hidden="true" />
              <span><strong class="font-semibold text-gray-900">Talent Showcases:</strong> Utilize the stage for an open mic night, local talent show, or comedy evening, offering a fantastic platform for artists and entertainers in the community.</span>
            </li>
          </ul>

          <p class="my-10 aspect-[4/3]">
            <Image
              src={theatreIntImg}
              format="avif"
              quality="mid"
              width={1024}
              height={1024 * 1.5}
              alt="Buckley Trio concert"
              class="lg:col-span-2 lg:row-span-2 rounded-lg bg-cover bg-purple-100 aspect-[4/3] object-cover"
            />
          </p>
          <h2 class="mt-16 text-2xl font-bold tracking-tight text-gray-900">A Wedding Venue Like No Other</h2>

          <p class="mt-6">Imagine your wedding day set against the backdrop of our illustrious theatre. Exchange vows under the spotlight, creating a scene straight out of a romantic film, with your guests comfortably seated in plush theatre seats. Opt for a 1940s Old Hollywood theme or personalize your day to reflect your favorite cinematic moments. With a <span class="font-bold tracking-tight text-gray-900">low venue fee</span>, transform the Palace Theatre into your stage, making your wedding a splendid showcase of your love story.</p>
          <p class="mt-6">Ready to transform The Daysland Palace Theatre into your personal event space? For more information and to start planning your unforgettable event, contact Sharon at <a href="tel:+17803742403" class="whitespace-nowrap text-base font-semibold leading-7 text-purple-600 hover:underline" aria-label="Call us at 780-374-2403">780-374-2403</a> or
          <a href="mailto:info@daysarts.ca" class="whitespace-nowrap text-base font-semibold leading-7 text-purple-600 hover:underline" aria-label="Email us at info@daysarts.ca">info@daysarts.ca</a>.</p>

          <div class="my-4 flex lg:justify-center gap-5 py-4 sm:gap-8 overflow-auto md:overflow-visible ps-4 md:ps-0">
            <div class="relative aspect-[2/3] w-44 flex-none overflow-auto md:overflow-hidden rounded-xl bg-purple-100 sm:w-72 sm:rounded-xl rotate-2">
              <Image
                src={Wedding1}
                format="avif"
                quality="mid"
                width={1024}
                height={1024 * 1.5}
                alt="wedding photo"
                class="absolute inset-0 h-full w-full object-cover lg:col-span-2 lg:row-span-2 rounded-lg"
              />
            </div>

            <div class="relative aspect-[2/3] w-44 flex-none overflow-hidden rounded-xl bg-purple-100 sm:w-72 sm:rounded-xl -rotate-2">
              <Image
                src={Wedding2}
                format="avif"
                quality="mid"
                width={1024}
                height={1024 * 1.5}
                alt="wedding photo"
                class="absolute inset-0 h-full w-full object-cover lg:col-span-2 lg:row-span-2 rounded-lg"
              />
            </div>
            <div class="relative aspect-[2/3] w-44 flex-none overflow-hidden rounded-xl bg-purple-100 sm:w-72 sm:rounded-xl rotate-2">
              <Image
              src={Wedding3}
              format="avif"
              quality="mid"
              width={1024}
              height={1024 * 1.5}
              alt="wedding photo"
              class="absolute inset-0 h-full w-full object-cover lg:col-span-2 lg:row-span-2 rounded-lg"
            />
          </div>
        </div>







          <p class="mt-10">
            <Image
              src={equipmentImg}
              format="avif"
              quality="mid"
              width={1024}
              height={1024 * 1.5}
              alt="Equipment rental"
              class="lg:col-span-2 lg:row-span-2 rounded-lg bg-cover"
            />

            Lichak Technical Services Ltd. <a href="tel:17807815965" itemprop="telephone" class="whitespace-nowrap font-semibold leading-7 text-purple-600 hover:underline">780-781-5965</a>
          </p>
          <p class="mt-10">
            <Image
              src={stageImg}
              format="avif"
              quality="mid"
              width={1024}
              height={1024 * 1.5}
              alt="Stage dimensions"
              class="lg:col-span-2 lg:row-span-2 rounded-lg bg-cover"
            />
          </p>
        </div>
      </div>
    </div>
  </div>

</Layout>