---
import type { CollectionEntry } from "astro:content";
import { Image } from 'astro:assets';
import { CalendarDaysIcon, PlayCircleIcon } from '@heroicons/vue/20/solid';

interface MovieData {
  title: string;
  poster?: string;
  description?: string;
  cast?: string[];
  rating?: string;
  length?: string;
  genre?: string[];
  trailer?: string;
  showtimes?: { date: string; time: string; }[];
  reelAlternative?: boolean;
}

interface Movie {
  data: MovieData;
  slug: string;
}

type Props = {
  movie: Movie;
};

const { movie } = Astro.props as Props;

// Format the dates
const formattedShowtimes = movie.data.showtimes?.map((showtime: { date: string; time: string; }) => {
  const date = new Date(showtime.date);
  return date.toLocaleDateString('en-US', {
    month: 'short',
    day: 'numeric'
  });
});

---

<!-- this is the repeatable component within an <li> -->
<article class={`relative items-start md:flex rounded-xl shadow-purple-400/30 shadow-xl overflow-hidden ${movie.data.reelAlternative ? 'border-2 border-purple-100 bg-purple-50' : 'bg-white'}`}>

  <div class="aspect-[2/3] md:w-1/3">
    {movie.data.poster && (
      <Image
        src={movie.data.poster}
        format="avif"
        quality="mid"
        width={1024}
        height={1024 / 1.5}
        alt={`${movie.data.title} poster`}
        class="rounded-t-2xl sm:rounded-t-none md:rounded-l-2xl object-cover h-full w-full bg-purple-100"
      />
    )}
  </div>

  <div class="p-6 md:w-2/3">
    <!-- <h2 class="mt-6 text-lg leading-8 sm:max-w-md font-bold lg:max-w-none">Current Showcase</h2> -->
    {movie.data.title && (
      <h2 class="flex-auto text-2xl font-semibold text-slate-900 relative target-element" id={movie.data.title.replace(/\s+/g, '-')}>
        {movie.data.title}
        <!-- <a href={`/movie/${movie.slug}`} class="text-inherit underline hover:underline-offset-4"></a> -->

        {movie.data.genre && (
          <a href={movie.data.trailer} class="absolute top-0 right-0 z-1 h-7 w-7 text-slate-400 hover:scale-125" target="_blank">
            <span class="sr-only">Play trailer</span>
            <PlayCircleIcon aria-hidden="true" />
          </a>
        )}
      </h2>
    )}

    {movie.data.description && (
    <div class="flex-none w-full mt-2 text-lg leading-tight">
      <dt class="sr-only">Description</dt>
      <dd class="text-slate-500 line-clamp-3">
        {movie.data.description}
      </dd>
    </div>
    )}


    <div class="mt-6">
      {movie.data.cast && movie.data.cast.length > 0 && (
      <dt class="uppercase font-semibold text-xs text-slate-400">Cast</dt>
      <dd class="flex items-center mt-2 text-sm">
          <ul class="flex flex-wrap gap-x-1 text-slate-500">
            {movie?.data?.cast?.map((cast: unknown, index: number, array: string | any[]) => (
              <li>
                {cast}{index < array.length - 1 ? ', ' : ''}
              </li>
            ))}
          </ul>
      </dd>
      )}
    </div>


    <!-- horizontal line -->
    <div class="w-full h-px bg-gray-200 my-6" style="opacity: 1; transform-origin: 50% 50% 0px;"></div>

    <dl class="mt-2 flex flex-wrap text-sm leading-6 font-medium ">
      <div class="flex flex-wrap sm:flex-nowrap w-full">
        {movie.data.rating && (
        <div>
          <dt class="sr-only">Rating</dt>
          <dd class="px-1.5 ring-1 ring-slate-200 rounded">
            {movie.data.rating}
          </dd>
        </div>
        )}

        {movie.data.length && (
        <div>
          <dt class="sr-only">Runtime</dt>
          <dd class="flex items-center">
            <div aria-hidden="true" class="mx-4 text-sm text-gray-400">·</div>
            {movie.data.length} min
          </dd>
        </div>
        )}

        {movie.data.genre && (
        <div>
          <dt class="sr-only">Genre</dt>
          <dd class="flex flex-nowrap items-center">
            <div aria-hidden="true" class="mx-4 text-sm text-gray-400">·</div>

            {movie.data.genre && movie.data.genre.length > 0 && (
              <ul class="flex flex-wrap sm:flex-nowrap gap-x-1 ">
                {movie.data.genre.map((genre: unknown, index: number, array: string | any[]) => (
                  <li>
                    {genre}{index < array.length - 1 ? ', ' : ''}
                  </li>
                ))}
              </ul>
            )}

          </dd>
        </div>
        )}
      </div>

      <div class="mt-6">
        <dt class="uppercase font-semibold text-xs text-slate-400">Showtimes</dt>
        <dd class="flex flex-wrap sm:flex-nowrap items-center mt-2 text-sm">

          {movie.data.showtimes && movie.data.showtimes.length > 0 && (
            <ul class="flex flex-wrap sm:flex-nowrap gap-x-6 justify-between text-slate-500">
              {movie.data.showtimes.map(({ date }) => (
                <li class="flex justify-between">
                  <CalendarDaysIcon class="h-5 w-5 flex-none text-slate-400 pr-1" aria-hidden="true" />
                  {date}
                </li>
              ))}
            </ul>
          )}

          {movie.data.reelAlternative && (
            <div class="mt-10 md:absolute md:bottom-4 md:right-2">
              <a href="/reel-alternative-film" class="rounded-md bg-purple-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-purple-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-purple-600">Reel Alternative Film</a>
            </div>
          )}
        </dd>
      </div>
    </dl>
  </div>

</article>


<style is:global>
  .target-element {
    scroll-margin-top: 80px;
  }
</style>