---
import Header from "@components/html-structure/Header.astro";
import Footer from "@components/html-structure/footer.astro";
import BackgroundImg from '@assets/palace-theatre-daysland-alberta.jpg';
import '../styles/base.css';

interface Props {
  title?: string;
  description?: string;
  socialImage?: string;
  ogType?: string;
}

const { title, description, socialImage="/social-image.jpg", ogType="website" } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />

    <!-- Performance optimizations -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="dns-prefetch" href="https://www.youtube.com" />
    <link rel="dns-prefetch" href="https://vimeo.com" />
    
    <!-- Additional performance optimizations -->
    <link rel="preload" as="image" href={BackgroundImg.src} />
    <meta http-equiv="Cache-Control" content="max-age=31536000" />
    
    <!-- Responsive image loading -->
    <link rel="preload" as="image" href={BackgroundImg.src} media="(min-width: 1024px)" />
    <link rel="preload" as="image" href={BackgroundImg.src} media="(max-width: 1023px)" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content={ogType} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(socialImage, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(socialImage, Astro.url)} />

    <!-- Sitemap -->
    <link rel="sitemap" href="/sitemap.xml" />

    <!-- CMS -->
    <!-- <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script> -->


    <!-- Visitor App tracking code -->
    <script 
      async 
      defer 
      src='https://app.visitortracking.com/assets/js/tracer.js'
      data-website-id="38ec2c75-c5cd-4ee3-83cd-6b6cc0a47f55"
      onload="initTracer()"
    ></script>

    <script is:inline>
      function initTracer() {
        if (typeof Tracer !== 'undefined') {
          new Tracer({
            websiteId: "38ec2c75-c5cd-4ee3-83cd-6b6cc0a47f55",
            async: true,
            debug: false
          });
        }
      }
    </script>



  </head>

  <body>
    <!-- <TopContact /> -->

    <Header />

    <slot/>

    <Footer />

    <!-- <script>
      declare global {
        interface Window {
          netlifyIdentity: any;
        }
      }

      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", (user: any) => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script> -->

  </body>
</html>
